<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
    <header>
        <h1>Coffee Shop Dashboard</h1>
    </header>
    
    <main>
        <section>
            <h2>Manage Your Coffee Shop Items</h2>
            <p>Use the Buttons below to manage your coffee shop inventory:</p>
            <ul class="button-list">
                <li><a href="{{ url_for('coffee_shop_items') }}">View Coffee Shop Items</a></li>
                <li><a href="{{ url_for('add_coffee_shop_item') }}">Add New Coffee Shop Item</a></li>
                <li><a href="{{ url_for('generate_bill_form') }}">Generate Bills</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Coffee Shop. All rights reserved.</p>
    </footer>
</body>
</html>
