<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Food Items</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_items.css') }}">
</head>
<body>
    <header>
        <h1>Fast Food Items</h1>
        <nav>
            <a href="{{ url_for('add_fast_food_item') }}" class="header-btn">Add New Items</a>
            <a href="{{ url_for('fast_food') }}" class="header-btn">Back to Home</a>
        </nav>
    </header>
    
    <main>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Category</th> <!-- New Column for Category -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{ item['id'] }}</td>
                        <td>{{ item['name'] }}</td>
                        <td>{{ "%.2f" % item['price'] }}</td>
                        <td>{{ item['category'] or 'N/A' }}</td> <!-- Display Category or 'N/A' -->
                        <td>
                            <div class="actions">
                                <a href="{{ url_for('update_fast_food_item', id=item['id']) }}" class="action-btn update-btn">
                                    <img src="{{ url_for('static', filename='icons/edit-icon.svg') }}" alt="Update">
                                </a>
                                <a href="{{ url_for('delete_fast_food_item', id=item['id']) }}" class="action-btn delete-btn">
                                    <img src="{{ url_for('static', filename='icons/delete-icon.svg') }}" alt="Delete">
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Fast Food. All rights reserved.</p>
    </footer>
</body>
</html>
